<html>
<body>
<div>
    <form method="post">
        <input type="number" name="number" placeholder="New number"/>
        <button type="submit">Submit</button>
    </form>
</div>
<div>List</div>
{{#numbers}}
    <div>
        <b>{{id}}</b>
        <b>{{chi}}</b>
        <b>{{roman}}</b>
    </div>
{{/numbers}}
</body>





</html>